.scale_red {
 color: #ffa6b1;
 color: #fe7586;
 color: #ff556a;
 color: #e43248;
 color: #a7001c;
 color: #730015;
}

.scale_blue {
 color: #a2c8ff;
 color: #76a8ff;
 color: #5380f2;
 color: #325cca;
 color: #1032a1;
}

.scale_cian {
 color: #9aedeb;
 color: #37dbd0;
 color: #07aba0;
 color: #007b70;
 color: #005b50;
}